.lang-switcher{
  margin: 0;
  text-align: center;
  @include vendor('flex', '0 0 70px');

  a{
    opacity: .6;
    border-bottom: 0;

    &:hover,
    &:focus,
    &:active{
      opacity: 1;
    }
  }

  .lang_inactive{
    opacity: .2;
    cursor: not-allowed;
  }

  @include breakpoint(small){
    @include vendor('flex', '0 0 80px');
    font-size: 20px;
  }
}