.action-column {
  text-align: center;
  font-size: 20px; }

.grid-view .table > tbody > tr > td,
.grid-view .table > thead > tr > th {
  vertical-align: middle; }

.file-manager__full-screen {
  height: 700px; }

.content-wrapper {
  min-height: calc(100% - 101px); }
