.breadcrumbs{
  ul{
    margin: 0;
    padding: 0;
  }
  &__item{
    display: inline-block;
    padding: 0;
    list-style: none;
    margin-right: 2.7em;
    position: relative;
    &:after{
      content: '\f054';
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: block;
      position: absolute;
      right: -1.7em;
      line-height: 1.8em;
      top: 0;
    }
    &:last-of-type:after{
      display: none;
    }
  }
}